{% extends 'base.html'%}
{% load bootstrap4%}

{% block content%}
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
   

</head>
<body>
    <div class="container-fluid" style="background-color:white;">
        <div class="jumbotron" style="background-image: url(https://images.pexels.com/photos/2098604/pexels-photo-2098604.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500); background-size:contain;">
            
            <p class="text-center" style="font-weight:bolder;font-style: italic;font-size:27px;">Award your projects here.</p>
            
            <h1 class="text-center" style="font-weight:bolder;font-family: 'Montserrat', sans-serif;" >Projects</h1>
                
            </div>
            <div class="container-fluid">
            <div class="row">
               
                <div class="col-md-4"></div>
                <div class="col-md-6">
                        {% for img in images%}
                
                    <div class="card" style="width: 18rem;border:hidden;" data-toggle="modal" data-target="#{{img.id}}">
                            <a href="{% url 'profile' username=img.user_profile.username %}" style="font-weight:bolder;">{{img.user_profile.username}}</a>
                            <img class="card-img-top" src="{{img.photo.url}}" alt="Card image cap" class="img-responsive" style="height:400px;width:400px;border-radius:20px;">
                            <div class="card-body">
                              <h5 class="card-title"></h5>
                                   

                              
                   </div>
                   </div>
                        <div style="font-weight:bold;font-family: 'Montserrat', sans-serif;">
                        <p><span style="color:rgb(38, 38, 90);">Project Name:</span> {{img.project_name}}</p>
                        
                        {% autoescape on %}
                        <p><span style="color:rgb(38, 38, 90);">Caption: </span>  {{img.project_caption}}</p>
                        {% endautoescape%}
                        

                        <a href="{% url 'project_review' project_id=img.id %}"><i class="fas fa-comment"></i>Rate project</a>
                        </div>
                        <br>
                        <hr>
                   
    
                            {% empty %}
                            <h2>Upload a project to view it here.</h2>
    
                            
                        
                   
                    {% endfor %} 
                </div>
                <div class="col-md-2"></div>

            </div>
            </div>

        </div>
</body>

{% endblock%}